.App {
  width: 1000px;
  min-width: 1000px;
  max-width: 1000px;
  margin: 10px auto;
  padding: 10px;
}
.HeaderImage {
  background-image: url("/img/airplane.png");
  background-repeat: no-repeat;
  background-position: left top;
  height: 119px;
  max-height: 119px;
  min-height: 119px;
  width: 500px;
  max-width: 500px;
  min-width: 500px;
}